<div id="repertoire_info">
    <table class="table table-striped table-bordered" id="repertoire_table">
		<tr>
    		<th>Repertoire</th>
    		<% if @applied_study_form.repertoires.first.nil? %>
    			<tr id="first_row"><td>No repertoire has been added yet.</td></tr>
    		<%else%>
    		<% @applied_study_form.repertoires.each do |repertoire| %>
    			<%=repertoire_table_item(repertoire) %>
    		<% end %>
    		<% end %>
  		</tr>
  	</table>

    <b> Add Repertoire </b>
    <%= form_for ([@student, @applied_study_form]), remote: true, action: "update" do |f| %>
	  	<div class="field">
			<%= f.collection_select :repertoire_id, Repertoire.find(:all, @student.repertoires), :id, :title %>
			<%= f.hidden_field :student_id, value: @student.id %>
	 	</div>
		<div class="actions">
    		<%= f.submit value: "Add"%>
  		</div>
	<% end %> 
</div>