<h1>Listing Applied Study Forms for <%= @student.name %> </h1>

<table>
  <tr>
    <th>Studies and Scales | </th> 
    <th>Public Performances </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applied_study_forms.each do |applied_study_form| %>
  <tr>
    <td><%= applied_study_form.studies_and_scales %></td>
    <td><%= applied_study_form.public_performances %></td>
    <td><%= link_to 'Show', student_applied_study_form_path(@student, applied_study_form) %></td>
    <td><%= link_to 'Edit', edit_student_applied_study_form_path(@student, applied_study_form) %></td>
    <td><%= link_to 'Remove', student_applied_study_form_path(@student, applied_study_form), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applied study form', new_student_applied_study_form_path(@student) %>
