<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @applied_study_form.student.name %>
</p>

<p>
  <b>Studies and Scales:</b>
  <%= @applied_study_form.studies_and_scales %>
</p>

<p>
  <%= render 'add_repertoire' %>
</p>

<p>
  	<%= render 'performances' %>
</p>

<%= button_to "Finished", @student, id: "finished_button", class: "btn btn-primary", method: :get %>
