<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @applied_study_form.student.name %>
</p>

<p>
  <%= render 'add_repertoire' %>
</p>

<p>
  <b>Studies and Scales:</b>
  <%= @applied_study_form.studies_and_scales %>
</p>

<p>
  <b>Public Performances:</b>
  <%= @applied_study_form.public_performances %>
</p>

<%= link_to 'Edit', edit_student_applied_study_form_path(@student, @applied_study_form) %> |
<%= link_to 'Back', @student %>
