<%= form_for(@measure_group) do |f| %>
  <% if @measure_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure_group.errors.count, "error") %> prohibited this measure_group from being saved:</h2>

      <ul>
      <% @measure_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :measure_id %><br />
    <%= f.number_field :measure_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
