<h1>Listing measure_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Measure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measure_groups.each do |measure_group| %>
  <tr>
    <td><%= measure_group.name %></td>
    <td><%= measure_group.measure_id %></td>
    <td><%= link_to 'Show', measure_group %></td>
    <td><%= link_to 'Edit', edit_measure_group_path(measure_group) %></td>
    <td><%= link_to 'Destroy', measure_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measure group', new_measure_group_path %>
