<% dummyInt = 1 %>

<%= form_tag(juries_path(format: "csv"), method: "get") do %>
  <%= label_tag(:student_id, "Download CSV for:") %>
  <%= collection_select :student, :student_id, [Student.create(first_name: "All", last_name: "students", id: 0)].concat(Student.all), :id, :name %> 
  <%= submit_tag("Download CSV") %>
<% end %>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
  	<% Jury.all.reverse_each do |jury| %>
    <%= create_progress_div(jury) %>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=dummyInt%>">
        <b> Jury for <%= Student.find(jury.student_id).name %> on <%= jury.created_at %>. </b>
      </a>
    </div>
    <div id="collapse<%=dummyInt%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= forms_information(jury.jury_forms, Judge.find(jury.judge_id)) %>
      </div>
    </div>
    <% dummyInt = dummyInt + 2 %>
    <% end %>
  </div>
</div>

