<% if current_user.is_a? Student %>
  Sorry, you're not allowed to see this as a student!
<% else %>
<p id="notice"><%= notice %></p>

<div>
  <div id="tabs">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#home" data-toggle="tab">Judge Information</a></li>
      <li><a href="#juries" data-toggle="tab">Juries</a></li>
      <li><a href="#new_jury" data-toggle="tab">New Jury</a></li>
   </ul>
  </div>

  <div id="my-tab-content" class="tab-content">

  <div class="tab-pane active" id="home">
    <p>
  		<b>Name:</b>
  			<%= @judge.name %>
		</p>

	<p>
  	<b>Email:</b>
 		 <%= @judge.email %>
	</p>
	<%= link_to 'Edit', edit_judge_path(@judge) %>

   </div>

    <div class="tab-pane" id="juries">
      <%= render 'juries_info' %>
    </div>

    <div class="tab-pane" id="new_jury">
      <%= render 'juries/form' %>
    </div>

  </div>
</div>
<% end %>
