<div id="repertoire_info">
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        <b> Repertoire Table </b>
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	      <div class="accordion-inner">
	        <%= repertoire_table(@student) %>
	      </div>
	    </div>
	  </div>
	  <% if current_user.is_a? Judge %>

      <% else %>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        <b> Add Repertoire </b>
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
	        <%= form_for (@repertoire) do |f| %>
				<div class="field">
					<%= f.label :title %><br />
		    		<%= f.text_field :title %>
				</div>

				<div class="field">
					<%= f.label :composer %><br />
		    		<%= f.text_field :composer %>
				</div>

				<div class="field">
					<%= f.label :duration %><br />
		    		<%= f.number_field :duration %>
				</div>

				<div class="field">
					<%= f.label :memorized %><br />
		    		<%= f.number_field :memorized %>
				</div>

		  		<div class="field">
		  			<%= f.hidden_field :student_id %>
		  			<% @repertoire.student_id = @student.id %>
		  		</div>

				<div class="actions">
		    		<%= f.submit %>
		  		</div>
			<% end %> 
	      </div>
	    </div>
	  </div>
	  <% end %>
	</div>
</div>