<p id="notice"><%= notice %></p>
<div>
  <p>
    <b>Name:</b>
    <%= @student.name %>

    <b>Email:</b>
    <%= @student.email %>
  </p>


  <p>
    <b>Instructor:</b>
    <%= @student.instructor_id %>

    <b>Instrument:</b>
    <%= @student.instrument %>

    <b>Major:</b>
    <%= @student.major %>
  </p>

  <p>
    <b>Graduation year:</b>
    <%= @student.graduation_year %>

    <b>Course Number:</b>
    <%= @student.course_num %>
  </p>
</div>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
<%= link_to 'Applied Study Forms', student_applied_study_forms_path(@student) %> |
<%= link_to 'View Past Juries', '#' %>
