<%= form_for(@jury_form) do |f| %>
<div class="row">
  <div class="span6">
    <div class="field">
      <b>Criteria:</b> <%= @jury.measure_group.name %> <br />
      <% cg = @jury.measure_group %>
      <table>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      <% cg.measures.each do |criteria| %>
        <tr>
          <td><%= criteria.name %>:</td>
          <td><input id="jury_form_measure_id" name="jury_form[measure_id][<%=criteria.id%>]" size="30" type="number"></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class="span6">
    <div class="field">
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </div>
    <div class="field">
      <%= f.label :final_assessment %><br />
      <% options = options_for_select([['Unsatisfactory Progress at this level', 'Unsatisfactory Progress at this level'], ['Continue study at this level', 'Continue study at this level'],['Advance to study at next level', 'Advance to study at next level'],['All jury levels for degree completed', 'All jury levels for degree completed']], 4) %>
    <%= f.select :final_assessment, options %>
    </div>

    <div class="field">
      <%= f.hidden_field :judge_id, value: @jury.judge_id %>
    </div>

     <div class="field">
      <%= f.hidden_field :jury_id, value: @jury.id %>
    </div>

    <div class="field">
       <%= f.hidden_field :applied_study_form_id, value: @jury.student.applied_study_forms.last.id %>
    </div>

    <div class="actions">
      <%= f.submit "Submit Jury"%>
    </div>
  </div>
</div>

<% end %>

<%= link_to 'Back', @jury_form.judge %>
