<%= form_for(@jury_form) do |f| %>


  <div class="field">
    <%= f.label :measure_id, "Criteria:" %><br />
    <% cg = MeasureGroup.find(@jury.measure_group_id) %>
    <% cg.measures.each do |criteria| %>
      <%= criteria.name %>:
      <%= f.number_field :criteria_id %>
    <% end %>
    <p>
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :final_assessment %><br />
    <%= f.text_field :final_assessment %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Jury"%>
  </div>

<% end %>
