<%= form_for(@jury_form) do |f| %>


  <div class="field">
    <%= f.label :criteria_id %><br />
    <% cg = CriteriaGroup.find(@jury.criteria_group_id) %>
    For each criteria a name/score will be shown, this is currently bugging
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :final_assessment %><br />
    <%= f.text_field :final_assessment %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Jury"%>
  </div>

<% end %>
