<%= form_for(@jury_form) do |f| %>


  <div class="field">
    <%= f.label :measure_id, "Criteria:" %><br />
    <% cg = @jury.measure_group %>
    <% cg.measures.each do |criteria| %>
      <p>
      <%= criteria.name %>:
      <input id="jury_form_measure_id" name="jury_form[measure_id][<%=criteria.id%>]" size="30" type="number">
      </p>
    <% end %>
    <p>
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :final_assessment %><br />
    <%= f.text_field :final_assessment %>
  </div>

  <div class="field">
    <%= f.hidden_field :judge_id, value: @jury.judge_id %>
  </div>

   <div class="field">
    <%= f.hidden_field :jury_id, value: @jury.id %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Jury"%>
  </div>

<% end %>
