<h1>Listing juries</h1>

<table>
  <tr>
    <th>Jury form</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @juries.each do |jury| %>
  <tr>
    <td><%= jury.jury_form_id %></td>
    <td><%= link_to 'Show', jury %></td>
    <td><%= link_to 'Edit', edit_jury_path(jury) %></td>
    <td><%= link_to 'Destroy', jury, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jury', new_jury_path %>
