<p id="notice"><%= notice %></p>

<div>
<h1>Jury for: <%= @jury.student.name %></h1>
<h2>Judged by: <%= Judge.find(@jury.judge_id).name %></h2> 

</div>

<%= applied_study_information(@jury.student) %>

<p>

<%= render 'active_jury' %>
