<p id="notice"><%= notice %></p>
<div id="instructor_info">
	<p>
	<b>Name:</b>
	<%= @instructor.name %>
	</p>

	<p>
	<b>Email:</b>
	<%= @instructor.email %>
	</p>

	<%= create_student_table(@instructor) %>
</div>


<%= render 'add_student_form' %>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
