<h1>Listing jury_forms</h1>

<table>
  <tr>
    <th>Applied study form</th>
    <th>Judge</th>
    <th>Criteria</th>
    <th>Comments</th>
    <th>Final assessment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jury_forms.each do |jury_form| %>
  <tr>
    <td><%= jury_form.applied_study_form_id %></td>
    <td><%= jury_form.judge_id %></td>
    <td><%= jury_form.criteria_id %></td>
    <td><%= jury_form.comments %></td>
    <td><%= jury_form.final_assessment %></td>
    <td><%= link_to 'Show', jury_form %></td>
    <td><%= link_to 'Edit', edit_jury_form_path(jury_form) %></td>
    <td><%= link_to 'Destroy', jury_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jury form', new_jury_form_path %>
