<p id="notice"><%= notice %></p>

<p>
  <b>Judge:</b>
   Judge's name will go here
</p>

<p>
  <b>Criteria:</b>
  List of Criteria will go here
</p>

<p>
  <b>Comments:</b>
  <%= @jury_form.comments %>
</p>

<p>
  <b>Final assessment:</b>
  <%= @jury_form.final_assessment %>
</p>


<%= link_to 'Edit', edit_jury_form_path(@jury_form) %> |
<%= link_to 'Back', jury_forms_path %>
