<p id="notice"><%= notice %></p>

<%= applied_study_information(@jury_form.jury.student) %>

<p>
  <b>Judge:</b>
   <%= @jury_form.judge.name %>
</p>

<p>
  <b>Criteria:</b>
  	<% @jury_form.measures.each do |measure| %>
  		<p>
  			<b><%= measure.name %></b>: <%= measure.score %>
  		</p>
  	<% end %>
</p>

<p>
  <b>Comments:</b>
  <%= @jury_form.comments %>
</p>

<p>
  <b>Final assessment:</b>
  <%= @jury_form.final_assessment %>
</p>


<%= link_to 'Edit', edit_jury_form_path(@jury_form) %> |
<%= link_to 'Back', jury_forms_path %>
