<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="header">
			<% if signed_in? %>
				<%= link_to "Musical Jury App", current_user, id: "logo" %>
			<% else %>
				<%= link_to "Musical Jury App", root_path, id: "logo" %>
			<% end %>
			<nav>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<li><%= link_to "Home", current_user %></li>
						<li><%= link_to "Not " << current_user.name << "? Sign Out.", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
