<!DOCTYPE html>
<html>
<head>
  <title>JuryProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class ="span9">
				<%= yield %>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</div>
</body>
</html>
